@use 'font';
@use 'color' as c;

*,::after,::before{
    box-sizing: border-box;
}
*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
    background-image: url('/public/assets/images/background-pattern-desktop.svg'), 
                    linear-gradient(to bottom, c.$Purple-100, c.$Purple-100);
    background-repeat: no-repeat;
    background-size: contain;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    background-color: c.$White;
    max-width: 37.5rem;
    padding: 2rem 2.3rem 1.5rem 2.3rem;
    border-radius: 15px;
    color: c.$Purple-950;
}
.accordion-container{
    display: flex;
    flex-direction: column;
}
main section:not(:last-child){
    border-bottom: 2px solid c.$Purple-100;
}
.accordion-header{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1rem;
}
.accordion-header .accordion-header-icon img{
    max-width: 2.188rem;
}
.accordion-header h1{
    font-size: 2.5rem;
}
.accordion-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    cursor: pointer;
}
.accordion-item-header-title{
    font-size: 18px;
}
.accordion-item-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s linear;
}
svg{
    fill: c.$White;
    border-radius: 50%;
    background-color: hsl(281, 83%, 54%);
    max-width: 1.563rem;
    max-height: 1.563rem;
    transition: transform .2s linear;
}
.accordion-item.active .accordion-item-header span svg{
    transform: rotate(45deg);
    background-color: c.$Purple-950;
}

@media (max-width: 56.25rem)/*800px*/{
        html{
        background-image: url('/public/assets/images/background-pattern-mobile.svg'), 
                        linear-gradient(to bottom, c.$Purple-100, c.$Purple-100);
    }
}
@media (max-width: 40.313rem)/*645px*/{
    main{
        max-width: 90%;
        padding: 1.8rem 1rem 1rem 1rem;
    }
    .accordion-header h1{
        font-size: 30px;
    }
    .accordion-header .accordion-header-icon img{
        max-width: 1.8rem;
    }
    .accordion-item-header-title{
        font-size: 1.063rem;
    }
    .accordion-item-content{
        font-size: 0.938rem;
    }
    svg{
        max-width: 1.2rem;
        max-height: 1.2rem;
    }
}
@media (max-width: 28.125rem)/*450px*/{
    main{
        padding: 1.8rem 1.5rem 1rem 1.5rem;

    }
    .accordion-header h1{
        font-size: 28px;
    }
    .accordion-header .accordion-header-icon img{
        max-width: 1.6rem;
    }
    .accordion-item-header-title{
        font-size: .95rem;
    }
    .accordion-item-content{
        font-size: 0.7rem;
    }
    svg{
        max-width: 1rem;
        max-height: 1rem;
    }
}